@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">ModelBinding Styling!</h1>
    <br />
    <p class="d-inline-flex gap-1">
        <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Goal for this lab</a>
    </p>
    <div class="row">
        <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample1">
                <div class="card card-body">
                    <p>
                        Your task for this project is to style the two pages linked below. You may do custom CSS or
                        use a framework like <a href="https://getbootstrap.com">Bootstrap</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <p><a asp-controller="Home" asp-action="UserProfile">User Profile Page</a></p>
    <p><a asp-action="PrinterList">3D Printer List</a></p>
</div>

